<!--
  Generated template for the ShowbidsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>showbids</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding>

<div *ngIf = "bidvalue || bidterms">
<ion-list>
  <ion-item text-wrap>
   Bid Values :- {{bidvalue}}
  </ion-item>

  <ion-item text-wrap>
   Bid Terms:- {{bidterms}}
   
  </ion-item>
</ion-list>
<button *ngIf = "bidData.status != 1" ion-button round (click) = "deleteBid()">Delete Bid</button>
</div>

<div *ngIf = "!bidvalue && !bidterms">
  Bidding is not performed yet
</div>
</ion-content>
